@body-bg: #152C52; //#21457F; // #152C52;
@sidebar-bg: @body-bg + #565656; //#5A88D3; //@body-bg + #111;//#194C9E;
@location-bg: @body-bg + #222; //#336BCC;

@sidebar-link: #fff;


* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    color: #000;
    text-align: left;
    min-width: 700px;
}

body, table, code {
    font: normal 12px/1.5em Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
    //font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

.with-margin {
    margin: 0 auto;
    width: 85%;
}

/* header */
#header-wrapper {
    background: @body-bg;
    background-image: -moz-linear-gradient(top, rgba(21,44,82,1), rgba(48,71,109,1));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(21,44,82,1)), to(rgba(48,71,109,1)));
}

#header {
    .with-margin;
    position: relative;
    padding: 0;
    height: 100px;

    h1 {
        color: #eee;
        font: italic 50px Georgia, "Times New Roman", Times, serif;
        width: 5em;
    }

    h2 {
        color: #ccc;
        font: italic 20px Georgia, "Times New Roman", Times, serif;
        width: 20em;
    }
}

/* header menu */
#menu {
    height: 60px;
    position: absolute;
    right: 10px;
    bottom: 0px;
    color: white;
    font: small-caps 120% Arial, sans-serif;

    ul {
        bottom: 0px;
        right: 10px;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: block;
            float: left;
            margin: 0;
            padding: 0;
            height: 60px;

            a, span {
                display: block;
                height: 30px;
                margin: 20px 0px 0px;
                padding: 2px 10px 8px;
                background: white;
                text-decoration: none;
                line-height: 30px;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
            }

            a:visited {
                color: @body-bg;
            }

            a:hover {
                background: @location-bg + #252525;
                color: white;
                height: 40px;
                margin-top: 10px;
            }

            :first-child a, :first-child span {
                border-top-left-radius: 5px;
                -webkit-border-top-left-radius: 5px;
                -moz-border-radius-topleft: 5px;
            }

            :last-child a, :last-child span {
                border-top-right-radius: 5px;
                -webkit-border-top-right-radius: 5px;
                -moz-border-radius-topright: 5px;
            }

            :not(:last-child) a, :not(:last-child) span {
                border-right: 2px solid @body-bg;
            }
        }

        li.webgen-menu-item-selected a, li.webgen-menu-item-selected span, li.webgen-menu-submenu-inhierarchy span {
            color: white;
            background: @location-bg;
        }

    }
}

/* location bar */
#location-wrapper {
    background: @location-bg;
    background-image: -moz-linear-gradient(top, @location-bg, @location-bg + #252525);
    background-image: -webkit-gradient(linear, left top, left bottom, from(@location-bg), to(@location-bg + #252525));
}

#location {
    .with-margin;
    position: relative;
    height: 40px;
    line-height: 40px;
    color: white;
    clear: both;

    a, span {
        text-decoration: none;
        padding: 3px;
        line-height: 1.5ex;
        color: white;
    }

    a {
        text-decoration: underline;
    }

    a:hover {
        background-color: white;
        color: @sidebar-bg;
    }

}

/* content */
#content {
    .with-margin;

    position: relative;
    clear: both;
    padding: 0;
    margin-top: 0px;
    background-color: @sidebar-bg;


    #sidebar {
        float: right;
        width: 30%;
        min-width: 100px;
        margin: 0;
        color: black;
        font-size: 92%;

        #sidebar-content {
            padding: 5px 10px;
        }

        p {
            margin: 0px;
            padding: 5px 0px;
        }

        ul {
            list-style: square;
            margin: 5px 0px 5px 15px;
            padding: 3px;

            ul {
                margin: 0px 0px 0px 5px;
            }
        }

        a {
            padding: 1px;
            text-decoration: none;
            color: white;
        }

        a:hover {
            background-color: white;
            color: @sidebar-bg;
        }

        h1 {
            font: bold 150% 'Helvetica Neue', 'Trebuchet MS', Arial, Sans-serif;
        }
    }

    #main {
        width: 70%;
        min-width: 300px;
        background-color: white;

        #main-content {
            padding: 5px 20px 30px 0;
        }

        #intro {
            margin: 15px -20px 15px -50px;
            background-color: #e6e8e9;
            border-left: 10px solid #ccc;
            border-bottom: 10px solid #ccc;
            border-top: 10px solid #ccc;
            border-bottom-left-radius: 10px;
            -webkit-border-bottom-left-radius: 10px;
            -moz-border-radius-bottomleft: 10px;
            border-top-left-radius: 10px;
            -webkit-border-top-left-radius: 10px;
            -moz-border-radius-topleft: 10px;
            padding: 5px;

            h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table, pre, blockquote {
                margin-top: 5px;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
            font-weight: bold;
            line-height: 1.5em;
        }
        h1 {
            font-size: 230%;
            margin: 40px 0px 0px;
            text-shadow: 1px 1px 2px #888;
        }
        h2 {
            font-size: 190%;
            margin: 30px 0px 0px;
            text-shadow: 1px 1px 2px #888;
        }
        h3 {
            font-size: 160%;
            margin: 20px 0px 0px;
        }
        h4 {
            font-size: 130%;
            margin: 20px 0px 0px;
        }

        p, ul, ol, dl, table, pre, blockquote {
            margin: 20px 0px;
        }

        ul, ol {
            margin-left: 10px;
            padding: 0 15px;
            color: #000;
        }

        dt {
            padding: 2px;
            margin-top: 10px;
            background-color: @sidebar-bg;
            color: white;
            font-weight: bold;
        }

        dd {
            margin-left: 20px;
        }

        a {
            color: @body-bg;
            background-color: inherit;
            text-decoration: underline;
        }

        a:hover {
            color: white;
            background-color: @sidebar-bg;
        }

        *:target::after {
            content: " ☜";
            font-size: 120%;
        }

        pre {
            margin-left: 10px;
            margin-right: 10px;
            padding: 5px;
            text-align: left;
            overflow: visible;
            font: 'Lucida Console', 'courier new', monospace;
            background: #eee;
            border-top: 1px solid @body-bg;
            border-bottom: 1px solid @body-bg;
        }

        pre > code {
            color: black;
            font-weight: normal;
        }

        pre[title]::before {
            display:block;
            padding: 5px;
            margin: -5px -5px 5px -5px;
            background: @sidebar-bg;
            color: white;
            content:attr(title);
            font: bold 100% 'Helvetica Neue', 'Trebuchet MS', Arial, Sans-serif;
        }

        code {
            font-family: "Lucida Console", monospace;
            font-weight: bold;
            font-size: 100%;
            color: black;
        }

        blockquote.warning, blockquote.information, blockquote.important {
            position: relative;
            padding: 5px 5px 5px 45px;
            min-height: 40px;
            border: 1px solid @body-bg;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            box-shadow: 0px 0px 5px #888;
            -moz-box-shadow: 0px 0px 5px #888;
            -webkit-box-shadow: 0px 0px 5px #888;

            p, ul, ol, dl, table, pre, blockquote {
                margin-top: 0px;
            }
        }

        blockquote.warning::before, blockquote.information::before, blockquote.important::before {
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            height: 30px;
            width: 30px;
            margin: 3px;
            padding: 2px;
            font: bold 30px "Georgia";
            line-height: 30px;
            text-align: center;
            text-shadow: 1px 1px 2px #888;
            background: white;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
        }

        blockquote.warning::before {
            content: '⚠';
        }

        blockquote.information::before {
            content: '✔';
        }

        blockquote.important::before {
            content: '!';
        }

        blockquote pre {
            border: none;
        }

        table {
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
            width: 100%;

            td, th {
                padding: 3px 5px;
            }

            th {
                background-color: @sidebar-bg;
                color: white;
            }
        }

    }

}

/* footer */
#footer-wrapper {
    background-color: #e6e8e9;
    height: 80px;
    clear: both;
}

#footer {
    .with-margin;
    clear: both;
    padding: 5px 20px;
    font-size: 92%;
    text-align: left;
    color: black;

    h2, p {
        padding-left: 0;
    }

    a {
        text-decoration: none;
        color: @body-bg;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
        background-color: inherit;
    }

    ul {
        margin: 0 0 0 20px;
        padding: 0;
    }
}


/* common rules */
img {
    border: none;
}

acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}


/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  {	text-align: left; }
.align-right {	text-align: right; }

/* additional classes */
.clear { clear: both; }
.comments {
  text-align: right;
  border: 1px dashed #151515;
  padding: 5px 10px;
  margin: 20px 15px 10px 15px;
}
.small {
  font-size: 90%;
  color: #666;
  padding: 2px;
}

/* extensions classes */
.backlink {
  float: right;
}


/* plugin documentation classes */
.plugin-info .param-name {
  color: #193441;
}

.plugin-info .param-default-value {
  color: #A0080D;
}

.plugin-info p.param {
  padding: 0px 0px 5px;
}


/* blog related classes */
div.blog-entry {
  margin-bottom: 15px;
}

blockquote.blog-entry-details {
  font-size: 80%;
  margin-bottom: 5px;
}

.blog-entry-date, .blog-entry-author {
  font-weight: bold;
}


/* website style preview classes */
div.website-styles {
  margin: 0px 10px;
}

div.website-styles object {
  border: 1px solid black;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
