--- name:sitemap pipeline:erb ---------------------------------------------------------------
<?xml version="1.0" encoding="utf-8" ?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<%
context.node.sitemap_entries.each do |item|
%>
  <url>
    <loc><%= URI.escape(File.join(context.node['site_url'], item.dest_path)) %></loc>
    <lastmod><%= item['modified_at'].iso8601 %></lastmod>
    <changefreq><%= item['change_freq'] || context.node['default_change_freq'] %></changefreq>
    <% if priority = item['priority'] || context.node['default_priority'] %>
    <priority><%= priority %></priority>
    <% end %>
  </url>
<%
end
%>
</urlset>
