<?xml version="1.0" ?>
<configuration>
	<main>
		<srcDir>src</srcDir>
		<outDir>output</outDir>
		<verbosityLevel>0</verbosityLevel>
		<ansiColorUsed>0</ansiColorUsed>
	</main>
	<plugins>
		<xmlPagePlugin>
			<templateFile>default.template</templateFile>
			<directoryIndexFile>index.page</directoryIndexFile>
		</xmlPagePlugin>
		<fileCopy>css,jpg,png,gif</fileCopy>
	</plugins>
</configuration>
