images/webgen5.png: 
  title: images/webgen5.png
  description: ""
files: images/**/*
mainPage: {}

title: Gallery default
mainPageTemplate: ""
thumbnailSize: ""
images/webgen10.png: 
  title: images/webgen10.png
  description: ""
imagesPerPage: 5
imagePageInMenu: false
galleryOrderInfo: 50
images/webgen11.png: 
  title: images/webgen11.png
  description: ""
images/webgen2.png: 
  title: images/webgen2.png
  description: ""
images/webgen8.png: 
  title: images/webgen8.png
  description: ""
galleryPageTemplate: ""
mainPageInMenu: true
galleryPageInMenu: false
images/webgen3.png: 
  title: images/webgen3.png
  description: This is a description for this image.
images/webgen9.png: 
  title: images/webgen9.png
  description: ""
images/webgen14.png: 
  title: images/webgen14.png
  description: ""
galleryPages: {}

images/webgen1.png: 
  title: images/webgen1.png
  description: ""
images/webgen12.png: 
  title: images/webgen12.png
  description: ""
images/webgen6.png: 
  title: images/webgen6.png
  description: ""
imagePageTemplate: ""
images/webgen13.png: 
  title: images/webgen13.png
  description: ""
images/webgen7.png: 
  title: images/webgen7.png
  description: ""
layout: default
images/webgen4.png: 
  title: images/webgen4.png
  description: ""
