/*
#5C73B8 -> background
#405080 -> headings
#CFD4E6 -> code
#3054BF -> other
 */

  body {
	margin: 0px 2em;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid black;
    color: black;
  }

  h1, h2, h3, h4, h5 { color: #405080}

  a:visited { color: #405080; }
  a { color: #5C73B8; }
  .bar a { color: white }
  .bar a:visited { color: white }

  #all { background-color: #CFD4E6; }

  #header {
    border-bottom: 1px solid black;
    padding: 1ex;
    background-color: #5C73B8;
  }
  #header img {
    padding-right: 5em;
  }
  #header h1 {
    margin: 0ex;
	font-size: 300%;
	font-style: italic;
	font-weight: normal;
    color: white;
  }

  #headerbar { border-bottom: 1px solid black; }
  #footer { border-top: 1px solid black; }

  #body {
    margin-left: 250px;
    margin-right: 20px;
    padding: 10px;
  }

  #menu {
	float: left;
	width: 230px;
    padding: 20px 0px 0px 2px;
  }

  .bar {
	clear: both;
	padding: 3px;
	text-align: center;
	font-size: 90%;
    background-color: #3054BF;
  }

  .left, .right {
    padding: 0px 1em;
  }

  .left {
	float: left;
	text-align: left;
  }

  .right {
	float: right;
	text-align: right;
  }

  /* styling the menu */

  #menu a {
	text-decoration: none;
	font-weight: bold;
	font-size: 130%;
  }

  #menu a:hover {
	text-decoration: underline;
  }

  #menu .webgen-menuitem-selected {
	border-left: 3px solid #405080;
  }

  #menu ul {
	list-style-type: none;
	padding: 0px;
	margin-left: 10px;
  }

  #menu li > ul {
	font-size: 95%;
  }

  #menu li {
    margin: 0.0em 0px;
    padding: 2px 0px;
    padding-left: 5px;
    border-left: 3px solid #CCCCCC;
  }

  /* styling the content */

  h2 {
	padding: 0px;
	letter-spacing: 0.2em;
	font-size: 150%;
	font-weight: bold;
    border-bottom: 1px solid #405080;
  }

  pre {
    padding-left: 10px;
    margin: 0px 10px;
    border-left: 3px solid #5C73B8;
  }

  dt {
    font-weight: bold;
  }

  .webgen-picture {
    text-align: center;
  }

  .webgen-picture img {
    border: 1px solid black;
  }

  .webgen-gallery {
    text-align: center;
  }

  .webgen-gallery table {
    width: 100%;
  }

  .webgen-gallery table td{
    text-align: center;
    border: 1px solid black;
  }