  html {
	margin: 0px 5%;
	background-color: #eee;
  }

  body {
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica;
  }

  /* General layout of the page */

  #header, #footer {
	width: 100%;
	background-color: #58b;
	color: #fff;
  }

  #menu {
	float: left;
	width: 230px;
    padding: 20px 0px 0px 20px;
	border: 3px solid #58b;
  }

  #feedback {
    float: right;
    text-align: right;
    padding: 1em;
    border-left: 2px solid #58b;
    border-bottom: 2px solid #58b;
    border-right: 2px solid #58b;
  }

  #body {
	margin-left: 250px;
	padding: 20px;
  }

  #footer {
	clear: both;
	padding: 5px 0px;
	text-align: center;
  }


  /* styling the header */

  #headerbar {
	width: 100%;
	font-size: 90%;
  }

  span#navbar, span#languages {
	padding: 3px;
	width: 45%;
  }

  span#navbar {
	float: left;
	text-align: left;
  }

  span#languages {
	float: right;
	text-align: right;
  }

  div#header h1 {
	margin: 0px;
	padding: 15px 2em;

	font-size: 300%;
	font-style: italic;
	font-weight: normal;
  }


  /* styling the menu */

  #menu a {
	text-decoration: none;
	color: #b55;
	font-weight: bold;
	font-size: 130%;
  }

  #menu a:hover {
	text-decoration: underline;
  }

  #menu .webgen-menuitem-selected {
	border-left: 3px solid #58b;
  }

  #menu .webgen-submenu {
  }

  #menu ul {
	list-style-type: none;
	padding: 0px;
	margin-left: 10px;
  }

  #menu li > ul {
	font-size: 95%;
  }

  #menu li {
    margin: 0.0em 0px;
    padding: 2px 0px;
    padding-left: 5px;
    border-left: 3px solid #CCCCCC;
  }

  /* styling the content */

  h2 {
	padding: 0px;
	border-bottom: 3px double #8b5;

	letter-spacing: 0.2em;
	font-size: 150%;
	font-weight: bold;
	color: #8b5;
  }

  pre.webgen-file {
    padding-left: 10px;
    margin: 0px 10px;
    border-left: 3px solid #8b5;
  }

}
