/*
   #5C73B8 -> background
   #405080 -> headings
   #CFD4E6 -> code
   #3054BF -> other
   */

body {
  margin: 0px 2em;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: 1px solid black;
  color: black;
}

h1, h2, h3, h4, h5 { color: #405080}

a:visited { color: #405080; }
a { color: #5C73B8; }
.bar a { color: white }
.bar a:visited { color: white }

#all { background-color: #CFD4E6; }

#header {
  border-bottom: 1px solid black;
  padding: 1ex;
  background-color: #5C73B8;
}
#header img {
  padding-right: 5em;
}
#header h1 {
  margin: 0ex;
  font-size: 300%;
  font-style: italic;
  font-weight: normal;
  color: white;
}

#headerbar { border-bottom: 1px solid black; }
#footer { border-top: 1px solid black; }

#body {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.bar {
  clear: both;
  padding: 3px;
  text-align: center;
  font-size: 90%;
  background-color: #3054BF;
}

.left, .right {
  padding: 3px 1em;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

/** styling the sample menus **/

/* horizontal menu */

.horiz-menu a { color: white }
.horiz-menu a:visited { color: white }

.horiz-menu {
  padding: 3px;
}

.horiz-menu ul {
  background-color: #3054BF;
}

/* vertical menu */

.vert-menu ul {
  list-style-type: none;
}

.vert-menu li {
  border-left: 3px solid #ccc;
}

.vert-menu .webgen-menu-item-selected {
  border-left: 3px solid #405080;
}

.vert-menu .webgen-menu-submenu > a {
  background-color: #ccc;
}

.vert-menu .webgen-menu-submenu-inhierarchy > a {
  background-color: #aaa;
}

/* partial menu */

#quickmenu {
  border: 1px solid black;
  background: #3054bf;
  float: right;
  text-align: center;
  margin-left: 5px;
  z-index: 500;
}

#quickmenu > div > a { border-bottom: 3px double black; }

.partial-menu ul {
  background: #3054bf;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.partial-menu ul ul { text-align: left; }

.partial-menu li {
  margin: 0px;
  padding: 3px;
}

.partial-menu .webgen-menu-item-selected {
  font-weight: bold;
}

.partial-menu a {
  color: white;
  display: block;
}

.partial-menu a:visited { color: white; }

.partial-menu ul ul li:hover a, .partial-menu ul ul li:hover a:visited { color: #3054bf; }

.partial-menu ul ul li:hover {
  background: #fff;
  color: #3054bf;
}

/* horizontal dd menu */

.horiz-dd-menu {
  background: #3054bf;
  float: left;
}

.horiz-dd-menu a { color: white }
.horiz-dd-menu a:visited { color: white }

.horiz-dd-menu a {
  display: block;
  margin: 0px;
  padding: 3px 1em;
  text-align: left;
  background: #3054bf;
}

.horiz-dd-menu li.webgen-menu-submenu > a {
  background: #405080;
}

.horiz-dd-menu li:hover > a {
  background: #fff;
  color: #3054bf;
}

/* vertical dd menu */

.vert-dd-menu ul {
  background: #3054bf;
}

.vert-dd-menu a { color: white }
.vert-dd-menu a:visited { color: white }

.vert-dd-menu a {
  display: block;
  margin: 0px;
  padding: 3px 1em;
  text-align: left;
  background: #3054bf;
}

.vert-dd-menu li.webgen-menu-submenu > a {
  background: #405080;
}

.vert-dd-menu li:hover > a {
  background: #fff;
  color: #3054bf;
}

/** styling the content **/

h2 {
  padding: 0px;
  letter-spacing: 0.2em;
  font-size: 150%;
  font-weight: bold;
  border-bottom: 1px solid #405080;
}

pre {
  padding-left: 10px;
  margin: 0px 10px;
  border-left: 3px solid #5C73B8;
}

dt {
  font-weight: bold;
}

.webgen-picture {
  text-align: center;
}

.webgen-picture img {
  border: 1px solid black;
}

.webgen-gallery {
  text-align: center;
}

.webgen-gallery table {
  width: 100%;
}

.webgen-gallery table td{
  text-align: center;
  border: 1px solid black;
}