<?xml version="1.0" ?>
<configuration>
	<main>
		<srcDir>src</srcDir>
		<outDir>output</outDir>
		<templateFile>template.html</templateFile>
		<directoryIndexFile>index.xml</directoryIndexFile>
		<verbosityLevel>0</verbosityLevel>
	</main>
	<plugins>
		<fileHandler>

		</fileHandler>
		<fileCopy>css,jpg,png,gif</fileCopy>
	</plugins>
</configuration>
