<?xml version="1.0" ?>
<configuration>
	<main>
		<srcDir>src</srcDir>
		<templateFile>template.html</templateFile>
		<directoryIndexFile>index.xml</directoryIndexFile>
	</main>
	<plugins>
		<fileHandler>
			<outputDir>output</outputDir>
		</fileHandler>
		<fileCopy>css,jpg,png,gif</fileCopy>
	</plugins>
</configuration>
